body{
    background-color: rgba(139, 0, 139, 0.788);
}
form
{ width: 800px;
    border: 1px solid wheat;
    border-collapse: collapse;
    background-color:whitesmoke;
    margin-top: 10px;
    margin-left: 250px;
    }
    input{
        width: 100%;
        background: none; 
        border: 1px solid whitesmoke; 
        border-radius: 3px; 
        padding: 6px 15px; 
        box-sizing: border-box;
        margin-bottom: 20px; 
        font-size: 16px;
    }
    h1{
        color: black;
        text-align: center;
    }
    input[type="button"]{
        width: 150px;
height: 30px;;
background-color: red;
color:white;
margin-left: 136px;
margin-top: 20px;
    }