body{
    background-color: yellowgreen;
} 
 table,th,td{
    
    border-collapse: collapse; 
    text-align: center;
    

}
table{
    width: 800px;
    height: 500px;
    margin-top: 50px;
    margin-left: 250px;
    border-style: hidden;
    
}
th{ 
    
    background-color: yellow;
}
 tr{
     background-color: white;
     border: 1px solid black;
    
    

}
